.DS_Store
documents
*.pem

bak
datasets
illust-cosplay*
bof_data
sketch
clipart
clipart-benchmark
flickr30k-images
real
train-testDataset
wikipaintings
cosplay_images
single_characters_10000

*.pyc
.caffemodel
.solverstate
